{% load static %}
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">

                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>خدمات ثابت</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for item in service %}
                            <li><a href="{{ item.url }}">
                                <h5>{{ item.title }}</h5>
                            </a></li>
                          {% endfor %}

                      </ul>

                    </div>
                  </div>
                </div>

                  <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>محصولات اخیر</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for item in recent_products %}
                            <li><a href="{{ item.get_absolute_url }}">
                                <h5>{{ item.title }}</h5>
                            </a></li>
                          {% endfor %}

                      </ul>

                    </div>
                  </div>
                </div>

                  <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>مقالات اخیر</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for item in recent_articles %}
                            <li><a href="{{ item.get_absolute_url }}">
                                <h5>{{ item.title }}</h5>
                                <span>{{ item.jalali_number }} </span>
                            </a></li>
                          {% endfor %}
                      </ul>

                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>سوالات متداول</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for item in question %}
                            <li><a href="{{ item.url }}">
                                <h5>{{ item.title }}</h5>
                            </a></li>
                          {% endfor %}

                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>