{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link rel="shortcut icon" href="{% static 'images/Zorik_industrial_group.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Zorik Industrial Group | درباره ما</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="" style="direction: rtl;">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home_app:home' %}"><h2>industrial group<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home_app:home' %}">خانه
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'about_app:about_us' %}">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services_app:services' %}">خدمات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'product_app:products' %}">محصولات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'article_app:articles' %}">مقالات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_app:contactus' %}">تماس با ما</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>درباره ما</h4>
                <h2>در باره ما بیشتر بدانید</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us" style="font-family: Lalezar">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="{{ image.image.url }}" alt="درباره ما">
          </div>
        </div>

        <div class="row" style="padding-top: 60px">
            {% for item in fd %}
                <div class="col-lg-6">
                    <h2>{{ item.title }}</h2>
          	        <p style="font-size: 20px;">{{ item.description }} </p>
                </div>
            {% endfor %}
        </div>
        
        <div class="row">
          {% for item in sd %}
              <div class="col-lg-4 col-md-6">
                    <h2>{{ item.title }}</h2>
          	        <p style="font-size: 20px;">{{ item.description }} </p>
                </div>
            {% endfor %}
        </div>
        
        
        <div class="row">
            {% for item in td %}
              <div class="col-lg-3 col-md-6">
                    <h2>{{ item.title }}</h2>
          	        <p style="font-size: 20px;">{{ item.description }} </p>
                </div>
            {% endfor %}
        </div>
        
        
      </div>
    </section>

    
    {% include "includes/footer.html" %}

    <!-- Bootstrap core JavaScript -->
    {% include "includes/scripts.html" %}

  </body>
</html>