{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/Zorik_industrial_group.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Zorik Industrial Group | تماس با ما</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="" style="direction: rtl;">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home_app:home' %}"><h2>industrial group<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home_app:home' %}">خانه
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_app:about_us' %}">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services_app:services' %}">خدمات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'product_app:products' %}">محصولات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'article_app:articles' %}">مقالات</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact_app:contactus' %}">تماس با ما</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>تماس با ما</h4>
                <h2>با ما در تماس باشید</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="contact-us">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">

                <div class="col-lg-4">
                  <div class="sidebar-item contact-information">
                    <div class="sidebar-heading">
                      <h2>اطلاعات تماس</h2>
                    </div>

                        <div class="content">
                      <ul>
                        <li>
                          <h5>{{ info.phone_number }}</h5>
                          <h5>{{ info.second_phone_number }}</h5>
                          <span>شماره های تماس</span>
                        </li>
                        <li>
                          <h5>{{ info.email_address }}</h5>
                          <span>آدرس ایمیل</span>
                        </li>
                        <li>
                          <h5>{{ info.street_address }}</h5>
                          <span>آدرس مغازه</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                      <h2>اگر قبلا با ما همکاری داشته اید لطفا نظرتان را برای ما ارسال نمایید</h2>
                    </div>
                    <div class="content">
                      <form id="contact" action="" method="post">
                          {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="email" type="text" id="email" placeholder="ایمیل شما" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="اسم شما" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="sub" type="text" id="subject" placeholder="موضوع">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="نظر" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">ارسال نظر</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">
            <div id="map">
              <iframe src="{{ info.google_map_url }}" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    
    {% include "includes/footer.html" %}

    <!-- Bootstrap core JavaScript -->

    {% include "includes/scripts.html" %}

  </body>
</html>